<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="icon" type="image/png" href="{{ '/assets/favicon.svg' | absolute_url}}"/>

  <script src="https://kit.fontawesome.com/73618372bc.js" crossorigin="anonymous"></script>

  {% if page.title %}
  <title>{{ page.title }} – {{ site.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}
</head>


