@charset "utf-8";


figure {
  img, video {
    filter: drop-shadow(0px 0px 7px #444);
    max-width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

    @media (prefers-color-scheme: dark) {
      filter: drop-shadow(0px 0px 7px #aaa);
    }
  }

  text-align: center;
}

p {
  text-align: justify;
  hyphens: auto;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.main-logo {
  display: inline;
  height: 1.25em;
  vertical-align: sub;

  @media (prefers-color-scheme: dark) {
    filter: invert(100%);
  }
}

.small-space {
  margin: 1px;
}

.half-width {
  max-width: 40%;

  @include media-query($on-palm) {
    max-width: 80%;
  }
}

.full-width {
  max-width: 100%;
}

h1.post-title, h2.post-title, h3.post-title {
  font-variant-caps: small-caps;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    font-variant-caps: small-caps;
    padding-top: 15px;
  }
}

.dot {
  padding-left: 5px;
  padding-right: 5px;
}

.wrapper {
  // Adds more top spacing
  margin-top: 10px;
  margin-bottom: 5px;
}

.medium {
  font-size: 125%;
}

.large {
  font-size: 150%;
}

.hover {
  transition: filter 0.1s ease;

  filter: drop-shadow(0px 0px 7px #00a);

  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(0px 0px 7px #55f);
  }
}

.hover:hover {
  filter: drop-shadow(0px 0px 14px #00a);

  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(0px 0px 14px #55f);
  }
}

.tight {
  padding-top: 0 !important;
  padding-bottom: 0;
  margin-bottom: 0;
}

.roadmap-minor-item {
  opacity: 0.25;
}

.opaque {
  opacity: 0.5;
}

.roadmap-current {
  background: #e5e5e5;
  padding: 1rem;
  border-radius: 1rem;

  @media (prefers-color-scheme: dark) {
    background: #252525;
  }
}

.spacer {
  padding-bottom: 0.75em;
}

.large-spacer {
  padding-bottom: 2em;
}

.underline {
  text-decoration: underline;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}
