@charset "utf-8";


figure {
  img, video {
    filter: drop-shadow(0px 0px 7px #444);
    max-width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

    @media (prefers-color-scheme: dark) {
      filter: drop-shadow(0px 0px 7px #aaa);
    }
  }

  text-align: center;
}

.minor-shadow {
  filter: drop-shadow(0px 0px 3px #aaa);

  @media (prefers-color-scheme: dark) {
    filter: invert(100%) drop-shadow(0px 0px 3px #333);
  }
}

p {
  text-align: justify;
  hyphens: auto;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

figcaption {
  font-style: italic;
}

.main-logo {
  display: inline;
  height: 1.25em;
  vertical-align: sub;

  @media (prefers-color-scheme: dark) {
    filter: invert(100%);
  }
}

.small-space {
  margin: 1px;
}

.half-width {
  max-width: 40%;

  @include media-query($on-palm) {
    max-width: 80%;
  }
}

.full-width {
  max-width: 100%;
}

h1.post-title, h2.post-title, h3.post-title {
  font-variant-caps: small-caps;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    font-variant-caps: small-caps;
    padding-top: 15px;
  }
}

.dot {
  padding-left: 5px;
  padding-right: 5px;
}

.wrapper {
  // Adds more top spacing
  margin-top: 10px;
  margin-bottom: 5px;
}

.medium {
  font-size: 125%;
}

.large {
  font-size: 150%;
}

.hover {
  transition: filter 0.1s ease;

  filter: drop-shadow(0px 0px 7px #00a);

  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(0px 0px 7px #55f);
  }
}

.hover:hover {
  filter: drop-shadow(0px 0px 14px #00a);

  @media (prefers-color-scheme: dark) {
    filter: drop-shadow(0px 0px 14px #55f);
  }
}

.tight {
  padding-top: 0 !important;
  padding-bottom: 0;
  margin-bottom: 0;
}

.roadmap-minor-item {
  opacity: 0.25;
}

.opaque {
  opacity: 0.5;
}

.roadmap-current {
  background: #e5e5e5;
  padding: 1rem;
  border-radius: 1rem;

  @media (prefers-color-scheme: dark) {
    background: #252525;
  }
}

.spacer {
  padding-bottom: 0.75em;
}

.large-spacer {
  padding-bottom: 2em;
}

.underline {
  text-decoration: underline;
}

.dead-link {
  color: red;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.table-container {
  max-height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: auto;
  margin-bottom: $spacing-unit;
}

.figures-wrapper {
  width: 100%; /* Makes the container span the full width of the page */
  margin-bottom: $spacing-unit;
}

.figures-container {
  display: flex;
  justify-content: space-between; /* Ensures figures are spread out across the container */
  width: 100%; /* Makes the container span the full width of the page */

  gap: 20px; /* Adds space between the figures */
  margin-bottom: $spacing-unit / 3;
}

.figures-container figure {
  flex-grow: 1; /* Allows figures to grow and take up available space */
  margin: 0; /* Removes default margin */
  text-align: center; /* Centers the content of each figure */
}

.figures-container img {
  width: 100%; /* Ensures images scale to fit within the figure */
  height: auto; /* Maintains the aspect ratio of the images */
  display: block; /* Removes any bottom margin caused by inline-block images */
  margin: 0 auto; /* Centers the image horizontally within the figure */
}

.figures-container .center {
  display: flex;
  flex-direction: column; /* Ensures caption stays below the image */
  align-items: center;
}
