@charset "utf-8";


figure {
  img, video {
    filter: drop-shadow(5px 5px 5px #444);
    max-width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

    @media (prefers-color-scheme: dark) {
      filter: drop-shadow(5px 5px 5px #000);
    }
  }

  text-align: center;
}

p {
  text-align: justify;
  hyphens: auto;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.main-logo {
  display: inline;
  height: 1.25em;
  vertical-align: sub;

  @media (prefers-color-scheme: dark) {
    filter: invert(100%);
  }
}

.small-space {
  margin: 1px;
}

.half-width {
  max-width: 40%;

  @include media-query($on-palm) {
    max-width: 80%;
  }
}

.full-width {
  max-width: 100%;
}

.almost-full-width {
  max-width: 90%;
}

h1.post-title, h2.post-title, h3.post-title {
  font-variant-caps: small-caps;
}

.post-content {
  h1, h2, h3, h4, h5, h6 {
    font-variant-caps: small-caps;
  }
}

.dot {
  padding-left: 5px;
  padding-right: 5px;
}

.wrapper {
  // Adds more top spacing
  margin-top: 10px;
  margin-bottom: 5px;
}
