.highlight {
  .bp {
    color: #008000;
  } /* Name.Builtin.Pseudo */
  .c1 {
    color: #408080;
    font-style: italic;
  } /* Comment.Single */
  .c {
    color: #408080;
    font-style: italic;
  } /* Comment */
  .ch {
    color: #408080;
    font-style: italic;
  } /* Comment.Hashbang */
  .cm {
    color: #408080;
    font-style: italic;
  } /* Comment.Multiline */
  .cp {
    color: #bc7a00;
  } /* Comment.Preproc */
  .cpf {
    color: #408080;
    font-style: italic;
  } /* Comment.PreprocFile */
  .cs {
    color: #408080;
    font-style: italic;
  } /* Comment.Special */
  .dl {
    color: #ba2121;
  } /* Literal.String.Delimiter */
  .fm {
    color: #00f;
  } /* Name.Function.Magic */
  .gd {
    color: #a00000;
  } /* Generic.Deleted */
  .ge {
    font-style: italic;
  } /* Generic.Emph */
  .gh {
    color: #000080;
    font-weight: bold;
  } /* Generic.Heading */
  .gi {
    color: #00a000;
  } /* Generic.Inserted */
  .go {
    color: #888;
  } /* Generic.Output */
  .gp {
    color: #000080;
    font-weight: bold;
  } /* Generic.Prompt */
  .gs {
    font-weight: bold;
  } /* Generic.Strong */
  .gt {
    color: #04d;
  } /* Generic.Traceback */
  .gu {
    color: #800080;
    font-weight: bold;
  } /* Generic.Subheading */
  .hll {
    background-color: #ffc;
  }
  .il {
    color: #666;
  } /* Literal.Number.Integer.Long */
  .kc {
    color: #008000;
    font-weight: bold;
  } /* Keyword.Constant */
  .k {
    color: #008000;
    font-weight: bold;
  } /* Keyword */
  .kd {
    color: #008000;
    font-weight: bold;
  } /* Keyword.Declaration */
  .kn {
    color: #008000;
    font-weight: bold;
  } /* Keyword.Namespace */
  .kp {
    color: #008000;
  } /* Keyword.Pseudo */
  .kr {
    color: #008000;
    font-weight: bold;
  } /* Keyword.Reserved */
  .kt {
    color: #b00040;
  } /* Keyword.Type */
  .mb {
    color: #666;
  } /* Literal.Number.Bin */
  .m {
    color: #666;
  } /* Literal.Number */
  .mf {
    color: #666;
  } /* Literal.Number.Float */
  .mh {
    color: #666;
  } /* Literal.Number.Hex */
  .mi {
    color: #666;
  } /* Literal.Number.Integer */
  .mo {
    color: #666;
  } /* Literal.Number.Oct */
  .na {
    color: #7d9029;
  } /* Name.Attribute */
  .nb {
    color: #008000;
  } /* Name.Builtin */
  .nc {
    color: #00f;
    font-weight: bold;
  } /* Name.Class */
  .nd {
    color: #a2f;
  } /* Name.Decorator */
  .ne {
    color: #d2413a;
    font-weight: bold;
  } /* Name.Exception */
  .nf {
    color: #00f;
  } /* Name.Function */
  .ni {
    color: #999;
    font-weight: bold;
  } /* Name.Entity */
  .nl {
    color: #a0a000;
  } /* Name.Label */
  .nn {
    color: #00f;
    font-weight: bold;
  } /* Name.Namespace */
  .no {
    color: #800;
  } /* Name.Constant */
  .nt {
    color: #008000;
    font-weight: bold;
  } /* Name.Tag */
  .nv {
    color: #19177c;
  } /* Name.Variable */
  .o {
    color: #666;
  } /* Operator */
  .ow {
    color: #a2f;
    font-weight: bold;
  } /* Operator.Word */
  .s1 {
    color: #ba2121;
  } /* Literal.String.Single */
  .s2 {
    color: #ba2121;
  } /* Literal.String.Double */
  .sa {
    color: #ba2121;
  } /* Literal.String.Affix */
  .sb {
    color: #ba2121;
  } /* Literal.String.Backtick */
  .sc {
    color: #ba2121;
  } /* Literal.String.Char */
  .s {
    color: #ba2121;
  } /* Literal.String */
  .sd {
    color: #ba2121;
    font-style: italic;
  } /* Literal.String.Doc */
  .se {
    color: #b62;
    font-weight: bold;
  } /* Literal.String.Escape */
  .sh {
    color: #ba2121;
  } /* Literal.String.Heredoc */
  .si {
    color: #b68;
    font-weight: bold;
  } /* Literal.String.Interpol */
  .sr {
    color: #b68;
  } /* Literal.String.Regex */
  .ss {
    color: #19177c;
  } /* Literal.String.Symbol */
  .sx {
    color: #008000;
  } /* Literal.String.Other */
  .vc {
    color: #19177c;
  } /* Name.Variable.Class */
  .vg {
    color: #19177c;
  } /* Name.Variable.Global */
  .vi {
    color: #19177c;
  } /* Name.Variable.Instance */
  .vm {
    color: #19177c;
  } /* Name.Variable.Magic */
  .w {
    color: #bbb;
  } /* Text.Whitespace */
}

/* DARK COLOR THEME */
@media (prefers-color-scheme: dark) {
  .highlight {
    $plain: #fafafa;
    $snow: #fff;
    $gravel: #857f78;
    $dirtyblonde: #f4cf86;
    $taffy: #ff2c4b;
    $orange: #ffa724;
    $lime: #aeee00;
    $toffee: #b88853;

    .c {
      color: $gravel;
    } /* Comment */
    .k {
      color: $taffy;
    } /* Keyword */
    .l {
      color: $toffee;
    } /* Literal */
    .n {
      color: $plain;
    } /* Name */
    .o {
      color: $plain;
    } /* Operator */
    .p {
      color: $plain;
    } /* Punctuation */
    .cm {
      color: $gravel;
    } /* Comment.Multiline */
    .cp {
      color: $gravel;
    } /* Comment.Preproc */
    .c1 {
      color: $gravel;
    } /* Comment.Single */
    .cs {
      color: $gravel;
    } /* Comment.Special */
    .ge {
      font-style: italic;
    } /* Generic.Emph */
    .gs {
      font-weight: bold;
    } /* Generic.Strong */
    .kc {
      color: $toffee;
    } /* Keyword.Constant */
    .kd {
      color: $toffee;
    } /* Keyword.Declaration */
    .kn {
      color: $lime;
    } /* Keyword.Namespace */
    .kp {
      color: $toffee;
    } /* Keyword.Pseudo */
    .kr {
      color: $toffee;
    } /* Keyword.Reserved */
    .kt {
      color: $toffee;
    } /* Keyword.Type */
    .ld {
      color: $dirtyblonde;
    } /* Literal.Date */
    .m {
      color: $toffee;
    } /* Literal.Number */
    .s {
      color: $dirtyblonde;
    } /* Literal.String */
    .na {
      color: $orange;
    } /* Name.Attribute */
    .nb {
      color: $toffee;
    } /* Name.Builtin */
    .nc {
      color: $orange;
    } /* Name.Class */
    .no {
      color: $toffee;
    } /* Name.Constant */
    .nd {
      color: $lime;
    } /* Name.Decorator */
    .ni {
      color: $plain;
    } /* Name.Entity */
    .ne {
      color: $orange;
    } /* Name.Exception */
    .nf {
      color: $orange;
    } /* Name.Function */
    .nl {
      color: $plain;
    } /* Name.Label */
    .nn {
      color: $plain;
    } /* Name.Namespace */
    .nx {
      color: $orange;
    } /* Name.Other */
    .py {
      color: $plain;
    } /* Name.Property */
    .nt {
      color: $taffy;
    } /* Name.Tag */
    .nv {
      color: $orange;
    } /* Name.Variable */
    .ow {
      color: $taffy;
    } /* Operator.Word */
    .w {
      color: $plain;
    } /* Text.Whitespace */
    .mf {
      color: $toffee;
    } /* Literal.Number.Float */
    .mh {
      color: $toffee;
    } /* Literal.Number.Hex */
    .mi {
      color: $toffee;
    } /* Literal.Number.Integer */
    .mo {
      color: $toffee;
    } /* Literal.Number.Oct */
    .sb {
      color: $dirtyblonde;
    } /* Literal.String.Backtick */
    .sc {
      color: $dirtyblonde;
    } /* Literal.String.Char */
    .sd {
      color: $dirtyblonde;
    } /* Literal.String.Doc */
    .s2 {
      color: $dirtyblonde;
    } /* Literal.String.Double */
    .se {
      color: $toffee;
    } /* Literal.String.Escape */
    .sh {
      color: $dirtyblonde;
    } /* Literal.String.Heredoc */
    .si {
      color: $dirtyblonde;
    } /* Literal.String.Interpol */
    .sx {
      color: $dirtyblonde;
    } /* Literal.String.Other */
    .sr {
      color: $dirtyblonde;
    } /* Literal.String.Regex */
    .s1 {
      color: $dirtyblonde;
    } /* Literal.String.Single */
    .ss {
      color: $dirtyblonde;
    } /* Literal.String.Symbol */
    .bp {
      color: $plain;
    } /* Name.Builtin.Pseudo */
    .vc {
      color: $plain;
    } /* Name.Variable.Class */
    .vg {
      color: $plain;
    } /* Name.Variable.Global */
    .vi {
      color: $plain;
    } /* Name.Variable.Instance */
    .il {
      color: $toffee;
    } /* Literal.Number.Integer.Long */
    .gu {
      color: $gravel;
    } /* Generic.Subheading & Diff Unified/Comment? */
    .gd {
      color: $lime;
    } /* Generic.Deleted & Diff Deleted */
    .gi {
      color: $orange;
    } /* Generic.Inserted & Diff Inserted */
  }
}
